/* styles.css */


h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    margin-left: 10%;
}


table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left; 
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}


table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

td {
    width: 20%;
}
